th {
  text-align: center;
}
  
td {
  height: 63px;

  input {
    text-align: center;
  }

  p {
    height: 42px;
    margin-top: 0;
    margin-bottom: 21px;
    padding-top: 7px;

    &.day {
      padding-right: 10px;

      font-weight: bold;
      text-align: right;
    }
  }
}

.calculate-button {
  margin-top: 7px;
}

.timesheet-header {
  .week-commencing {
    &--container {
      margin-bottom: 0;
      
      &--label {
        float: left;
        height: 65px;
      }
      &--date {
        height: 100%;
        font-weight: bold;

        input {
          margin-top: 5px;
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }

  .settings {
    margin-top: 7px;

    > * {
      height: 56px;

      > a {
        margin-top: 10px;
      }
    }
  }
}
  